header {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
    color: rgb(221, 208, 194);
    background-color: rgba(31, 136, 122, 0.157);
    margin : 2vw ;
    width: 60vw;
    border-radius: 5px;
    display : inline-block;
    font-family:Arial, Helvetica, sans-serif;
    padding:20px;
}

body {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
    padding: 3vw;
    background-color:rgba(31, 136, 122, 0.714);
    color:rgb(221, 208, 194);
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    
}
a { 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
    padding:4px;
    background-color: rgba(31, 136, 122, 0.157);
    margin-left : 2% ;
    border-radius: 5px;
    color:rgb(221, 208, 194);
    text-decoration-line: none;
}
a:hover {
    background-color: rgba(21, 83, 75, 0.157)
}
a:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
    margin-left : 2.5%;
    margin-bottom: 2.5%;
}
main {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
    font-size: 30px;
    background-color: rgba(31, 136, 122, 0.289);
    margin : 2% ;
    border-radius: 5px;
    padding: 2vw;
}
footer{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
    margin-top:10vh;
    font-size:125%;
    background-color:rgba(31, 136, 122, 0.289);
    border-radius: 5px;
    padding: 10px 2vw;

    
}
p{
    margin-left:10px;
    margin-right:10px
}

#cratera{
    opacity : 0.75;
    transform : rotateZ(90deg);
    display:inline-flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);  
    width: 300px ;
    margin-bottom: -11vh;
    margin-left : 4vw;
    border:none
}
.social{
    max-width:20px;
}
tr{
    background-color: rgba(31, 136, 122, 0.289);
}
th{
    padding:10px;
  
}   
td{
    text-align: center;
}
img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    border : solid ;
    border-color: rgb(221, 208, 194);
}
header p {
    font-size: 30px
}
table, ul, ol, form {
    margin:auto;
    text-align:center;

}
h2{
    width:max-content;
    padding: 40px;
    margin:auto;
    text-align: center,
}
ul{
    list-style: none;
}